extends layout 

block page_title
  title Ово је наслов странице
              
block greeting 
    h1 مرحبا أيها العالم

block software_engineer
  p سوف أصبح مهندسة برمجيات قريبا
  img(src="/images/earth.jpg" alt="الأرض" title="الأرض")